<mat-grid-list cols=4 rowHeight="100px">
    <mat-grid-tile>
        <a class="username-button" mat-raised-button [matMenuTriggerFor]="menu">
            nimishawilson333@gmail.com
            <mat-icon> keyboard_arrow_down </mat-icon>
        </a>
        <mat-menu xPosition="before" #menu="matMenu">
            <button mat-menu-item>Profile</button>
            <button mat-menu-item>signout</button>
        </mat-menu>
    </mat-grid-tile>
    <mat-grid-tile> </mat-grid-tile>
    <mat-grid-tile> </mat-grid-tile>
    <mat-grid-tile>
        <button (click)="openDialog()" mat-fab color="primary" aria-label="Example icon button with a add icon">
            <mat-icon>add</mat-icon>
        </button>
    </mat-grid-tile>
</mat-grid-list>
<mat-card>
    <mat-card *ngFor="let item of toDoListData; let i=index">
        <mat-grid-list cols=4 rowHeight="50px">
            <mat-grid-tile>
                <mat-checkbox [checked]="item.complete" (change)="markAsDone($event, item.id)"> </mat-checkbox>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <div [ngClass]="{ strikeText: item.complete === true }">
                    <strong> {{ item.title }} </strong> <br>
                    {{ item.description }}
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <span class="material-icons">
                    delete
                </span>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</mat-card>